asgiref==3.6.0
astroid==2.5.1
attrs==21.4.0
bcrypt==4.0.0
beautifulsoup4==4.11.1
bidict==0.22.0
capstone==5.0.0rc2
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.5
colored-traceback==0.3.0
commonmark==0.9.1
cryptography==38.0.1
crytic-compile==0.2.3
cycler==0.11.0
defusedxml==0.7.1
distlib==0.3.6
Django==4.2
django-allauth==0.54.0
django-cors-headers==4.0.0
dnspython==2.1.0
docopt==0.6.2
filelock==3.12.0
Flask==2.1.1
Flask-JSGlue==0.3.1
Flask-SocketIO==5.1.1
Flask-Uploads==0.2.1
fonttools==4.32.0
gdown==4.5.1
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
intervaltree==3.1.0
isort==5.7.0
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.4.2
lazy-object-proxy==1.5.2
Mako==1.2.3
MarkupSafe==2.1.1
matplotlib==3.5.1
mccabe==0.6.1
numpy==1.22.3
oauthlib==3.2.2
packaging==21.3
paho-mqtt==1.5.1
pandas==1.4.2
paramiko==2.11.0
pathlib2==2.3.7.post1
Pillow==9.1.0
pipreqs==0.4.13
platformdirs==3.2.0
pluggy==1.0.0
plumbum==1.7.2
prettytable==3.3.0
psutil==5.9.2
psycopg2-binary==2.9.6
pwn==1.0
pwntools==4.8.0
py==1.11.0
pycparser==2.21
pyelftools==0.29
Pygments==2.13.0
PyJWT==2.7.0
pylint==2.7.2
PyNaCl==1.5.0
pyparsing==3.0.8
pyperclip==1.8.2
pyserial==3.5
pysha3==1.0.2
PySocks==1.7.1
pytest==7.1.1
python-dateutil==2.8.2
python-engineio==4.3.1
python-etcd==0.4.5
python-socketio==5.5.2
python3-openid==3.2.0
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.1
rich==10.6.0
ROPGadget==7.1
rpyc==5.2.3
scapy==2.4.5
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
slither-analyzer==0.8.3
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.4
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tqdm==4.64.0
unicorn==2.0.0
urllib3==1.26.4
virtualenv==20.22.0
wcwidth==0.2.5
Werkzeug==0.16.0
wrapt==1.12.1
yarg==0.1.9
zipp==3.8.0
